@model IEnumerable<StudentDocVault.Models.Document>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row pt-2">
        <div class="col-6">
            <h3 class="m-2 p-2">List of Your Documents</h3>
        </div> 
        <div class="col-6 text-end">
                <a class="btn btn-primary" asp-action="Create">Add new Documents</a>

        </div>
    </div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocumentTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadedDate)
            </td>
            <td>
                        <a href="@item.Url" target="_blank"/>
                            @item.DocumentTitle
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
